@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic-ext');

*{
	font-family: 'Open Sans', sans-serif;
	outline: 0;
	box-sizing: border-box;
}

html, body, #root{
	min-height: 100% !important;
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9; 
}

button{
	cursor: pointer;
}

h1{
	margin: 0;
}

.block-title{
	font-size: 36px;
	font-weight: 400;
	color: #565a69;
}

.app{
	max-width: 1280px;
	min-height: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
	padding-left: 275px;
}

.sidebar-wr{
	padding: 0;
	max-width: 275px;
	float: left;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sidebar{
	width: 270px;
	min-height: 100%;
	background: #2b2f3e;
	display: block;
	min-height: 100% !important;
	height: 100%;
}

.sidebar .block-title{
	padding: 25px;
}

.sidebar ul{
	list-style: none;
	padding: 0;
	margin-top: 50px;
}

.sidebar ul li{
	background: rgba(255,45,91,1);
	background: -moz-linear-gradient(top, rgba(255,45,91,1) 0%, rgba(255,64,74,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,45,91,1)), color-stop(100%, rgba(255,64,74,1)));
	background: -webkit-linear-gradient(top, rgba(255,45,91,1) 0%, rgba(255,64,74,1) 100%);
	background: -o-linear-gradient(top, rgba(255,45,91,1) 0%, rgba(255,64,74,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,45,91,1) 0%, rgba(255,64,74,1) 100%);
	background: linear-gradient(to bottom, rgba(255,45,91,1) 0%, rgba(255,64,74,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2d5b', endColorstr='#ff404a', GradientType=0 );
	line-height: 60px;
	padding-left: 25px;
	color: white;
	font-size: 18px;
}

.work-block{
	background: white;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.25);
	display: inline-block;
	vertical-align: top;
	margin: 30px 10px;
}

.items{
	width: 480px;
	padding: 20px 15px 20px 30px;
	min-height: 520px;
	margin-left: 26px;
}

.items .block-title{
	margin-bottom: 20px;
}

.items .items-form-wr input{
	border: 2px solid #ccc;
	border-radius: 5px;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	width: 290px;
	margin-left: 5px;
}

.items .items-form-wr button{
	background: #27ccc0;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 130px;
	color: white;
	font-size: 16px;
	font-weight: 600;
	float: right;
}

.items .item{
	height: 55px;
	border-bottom: 1px solid #f2f2f2;
	max-width: 430px;
	margin-left: 5px;
	cursor: pointer;
}

.items .item .item-name-wr{
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

.items .item .item-btn-wr{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.items .item.active{
	position: relative;
}

.items .item.active:before{
	content: '';
	position: absolute;
	left: -38px;
	top: 0;
	width: 5px;
	background: #ff2f5a;
	height: 55px;
}

.items .item:first-child{
	margin-top: 10px;
}

.items .item div{
	padding: 0;
}

.items .item p{
	font-size: 16px;
	font-weight: 600;
	line-height: 55px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.items .item span{
	font-size: 13px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	background: #27ccc0;
	border-radius: 10px;
	padding: 0 3px;
	color: white;
	height: 20px;
	min-width: 26px;
	margin: 18px 0 18px 25px;
	text-align: center;
	line-height: 20px;
}

.items .item button{
	width: 100px;
	height: 35px;
	border: 1px solid #ff305a;
	border-radius: 5px;
	color: #ff305a;
	background: none;
	font-weight: 300;
	font-size: 16px;
	margin: 10px 0;
	float: right;
}

.work-blocks-wr{
	padding-right: 0;
}

.comments{
	width: 445px;
	padding: 20px 20px 15px;
	margin-right: 0;
}

.comments .block-title{
	margin-bottom: 20px;
}

.comments .comments-form .comment-add-img{
	width: 50px;
	height: 50px;
	background: #e6e6e6;
}

.comments .comments-form{
	margin-top: 20px;
}

.comments .comments-form *{
	display: inline-block;
	vertical-align: top;
}

.comments .comments-form textarea{
	resize: none;
	border: 2px solid #ccc;
	height: 70px;
	font-size: 14px;
	padding: 10px;
	margin-left: 20px;
	width: 335px;
}

.comments .comments-form button{
	background: #27ccc0;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 130px;
	color: white;
	font-size: 16px;
	font-weight: 600;
	float: right;
	margin-top: 15px;
}

.comments .comment-line{
	font-size: 12px;
	line-height: 14px;
	color: #666;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 20px;
	padding-top: 20px;
}

.comments .comment-line *{
	display: inline-block;
	vertical-align: top;
}

.comments .comment-line p{
	width: 335px;
	margin: 0;
	margin-left: 20px;
	line-height: 18px;
}

.comments .comment-line .comment-line-img{
	width: 50px;
	height: 50px;
	background: blue;
}

.comments .comment-line:nth-child(odd) .comment-line-img{
	background: orange;
}

.comments .comment-line:last-child{
	border: none;
}